<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakubcervenak.nessnavigation">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="006cee8c-54a7-4208-904e-4b1a31cd747d"/>
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="q+rBxlZn0rAv+cc89FEuI4MGZvToo3rL3B6MthrF/6xq4DUC40kGTDthnOSsKFlPDr0JcYj3etOXfPSuM1XjzclX8c9TZU2L36ULB58YC+/VqUEBD7QHirALWWOndw=="/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
    


</manifest>